/** Used by FontIconButton class */

QPushButton {
    font-size: 22px;
    font-family:  element;
    border-radius: 22px;
}

QPushButton::pressed {
    background-color: white;
}

QPushButton::checked {
    border: gray 1px solid;
    background-color: #a7a5a5;
}