/* Used by AboutWindow */

hebo--AboutWindow {
    background-color: white;
}

#about-window-version-label {
    font-size: 18px;
    color: #606060;
}

#about-window-update-button,
#about-window-releases-button,
#about-window-support-button,
#about-window-third-party-software-button {
    font-size: 16px;
    color: #34c388;
}

#about-window-server-note-label,
#about-window-docker-note-label {
    font-size: 14px;
    color: black;
}

#about-window-docker-cmd-label {
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    border-radius: 6px;
    background-color: #e7e7e7;
}