/** Used for ColorLineEdit and ColorChannelLineEdit **/

hebo--ColorChannelLineEdit,
hebo--ColorLineEdit {
    /*background-color: rgb(202, 202, 227);*/
    border: 1px solid #595b5c;
    border-radius: 4px;
    padding: 4px 2px 3px 2px;
    /*selection-background-color: darkgray;*/
    font-size: 11px;
    color: #292b2c;
}

hebo--ColorChannelLineEdit,
hebo--ColorLineEdit:focus {
    /*background-color: rgb(192, 192, 255);*/
}