/** Used by FontIconButton class */

hebo--FontIconButton {
    font-size: 22px;
    font-family:  element;
    border-radius: 22px;
}

hebo--FontIconButton::pressed {
    background-color: white;
}

hebo--FontIconButton::checked {
    border: gray 1px solid;
    background-color: #a7a5a5;
}