
[Unit]
Description=A high performance MQTT broker
Documentation=man:hebo(8)
After=network.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/hebo.pid
ExecStartPre=/usr/bin/hebo -t /etc/hebo/hebo.toml
ExecStart=/usr/bin/hebo
ExecReload=/usr/sbin/hebo -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/hebo.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target

