[package]
name = "ruo"
version = "0.1.2"
authors = [ "Xu Shaohua <shaohua@biofan.org>" ]
description = "MQTT client library for Rust"
categories = [
  "concurrency",
  "network-programming",
]
keywords = [
  "codec",
  "hebo",
  "mqtt",
  "qos",
  "ruo",
]
repository = "https://github.com/HeboProject/hebo"
homepage = "https://github.com/HeboProject/hebo/tree/main/ruo"
license = "Apache-2.0"
edition = "2021"
readme = "./README.md"
publish = true

[features]
default = [ "blocking" ]
blocking = [ "tungstenite" ]

[dependencies]
byteorder = "1.4.3"
codec = { path = "../codec", package = "hebo_codec", version = "0.2.2" }
env_logger = "0.9.0"
futures = "0.3.21"
futures-util = "0.3.21"
log = "0.4.17"
quinn = "0.8.3"
rustls-pemfile = "1.0.0"
tokio = { version = "1.18.2", features = ["full"] }
tokio-rustls = "0.23.4"
tokio-tungstenite = { version = "0.17.1", features = ["rustls-tls-webpki-roots"] }
tungstenite = { version = "0.17.2", optional = true }
webpki-roots = "0.22.3"
